@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --turner-red: #BB3A27;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-turner-red: var(--turner-red);
  
  --font-roboto: var(--font-roboto);
  --font-allura: var(--font-allura);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

/* Custom Utilities */
.brush-underline {
  position: relative;
  display: inline-block;
}

.brush-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 12px;
  background-color: var(--turner-red);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.00025 6.99997C35.9234 3.79862 98.6782 -1.41904 197.996 2.99998' stroke='black' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.00025 6.99997C35.9234 3.79862 98.6782 -1.41904 197.996 2.99998' stroke='black' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  transform: rotate(-1deg);
}
